:host {

  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  display: block;
  
  .space-component {
    height: auto;
    min-height: 2rem;
    width: 75%;
    align-items: center;
    align-content: center;
    justify-content: left;
    overflow: visible;
    background-color: unset;
  }
    
  .text {
    margin: 0;
  }
    
  .space-component1 {
    height: auto;
    min-height: 2rem;
    width: 16.666666666666668%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .text1 {
    margin: 0 auto 0 0;
  }
    
  .space-component2 {
    height: auto;
    min-height: 2rem;
    width: 8.333333333333334%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component3 {
    height: auto;
    min-height: 2rem;
    width: 75%;
    align-items: center;
    align-content: center;
    justify-content: left;
    overflow: visible;
    background-color: unset;
  }
    
  .text2 {
    margin: 0;
  }
    
  .space-component4 {
    height: auto;
    min-height: 2rem;
    width: 16.666666666666668%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .text3 {
    margin: 0 auto 0 0;
  }
    
  .space-component5 {
    height: auto;
    min-height: 2rem;
    width: 8.333333333333334%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component6 {
    height: auto;
    min-height: 2rem;
    width: 75%;
    align-items: center;
    align-content: center;
    justify-content: left;
    overflow: visible;
    background-color: unset;
  }
    
  .text4 {
    margin: 0;
  }
    
  .space-component7 {
    height: auto;
    min-height: 2rem;
    width: 16.666666666666668%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .text5 {
    margin: 0 auto 0 0;
  }
    
  .space-component8 {
    height: auto;
    min-height: 2rem;
    width: 8.333333333333334%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component9 {
    height: auto;
    min-height: 2rem;
    width: 75%;
    align-items: center;
    align-content: center;
    justify-content: left;
    overflow: visible;
    background-color: unset;
  }
    
  .text6 {
    margin: 0;
  }
    
  .space-component10 {
    height: auto;
    min-height: 2rem;
    width: 16.666666666666668%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .text7 {
    margin: 0 auto 0 0;
  }
    
  .space-component11 {
    height: auto;
    min-height: 2rem;
    width: 8.333333333333334%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component12 {
    height: auto;
    min-height: 2rem;
    width: 75%;
    align-items: center;
    align-content: center;
    justify-content: left;
    overflow: visible;
    background-color: unset;
  }
    
  .text8 {
    margin: 0;
  }
    
  .space-component13 {
    height: auto;
    min-height: 2rem;
    width: 16.666666666666668%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .text9 {
    margin: 0 auto 0 0;
  }
    
  .space-component14 {
    height: auto;
    min-height: 2rem;
    width: 8.333333333333334%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component15 {
    height: auto;
    min-height: 2rem;
    width: 75%;
    align-items: center;
    align-content: center;
    justify-content: left;
    overflow: visible;
    background-color: unset;
  }
    
  .text10 {
    margin: 0;
  }
    
  .space-component16 {
    height: auto;
    min-height: 2rem;
    width: 16.666666666666668%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .text11 {
    margin: 0 auto 0 0;
  }
    
  .space-component17 {
    height: auto;
    min-height: 2rem;
    width: 8.333333333333334%;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding: 0 8px 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .space-component18 {
    height: 100%;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
  
}